@import "misc";
@import "variables";
@import "mixins";

//Fonts
$mainFont: sans-serif;

html {
  text-align: left;
  vertical-align: top;
  //@include drawBorder(lightgrey);
  body {
    //@include drawBorder(lightgrey);
    font: normal 100% $mainFont;

    header {
      //@include drawBorder(grey);
      display: none; //removes with layout
    }
    main {
      //@include drawBorder(grey);
      position: relative; //to move keyboard objects inside keyboard box
      overflow: hidden; //if no element with float: clear; available after floating elements
      margin: $divMargin;
      padding: $divPadding;

      #monitor {
        //@include drawBorder(blue);
        //display: none;
        text-align: left;

        .line {
          text-align: left;
          position: relative;
          font-size: xx-large;
          width: 98%;
          margin: 2*$divMargin 2*$divMargin 2*$divMargin;
          padding: 2px;
        }
      }

      #left {
        min-width: 50px;
        width: $leftBarWidth;
        height: $minBoxSize;
        //@include drawBorder(lightgreen);
        float: left;
        display: none;
      }

      #viewport {
        //@include drawBorder(lightgreen);
        //display: inline-table;
        min-width: $minBoxSize;
        min-height: $minBoxSize;
        width: $boxSize;
        height: $boxSize;
        position: relative;
        overflow: hidden;
        margin: $divMargin;
        padding: $divPadding;
        .key {
          position: absolute;
          min-width: $symbolBoxSize;
          max-width: $symbolBoxSize;
          min-height: $symbolBoxSize;
          max-height: $symbolBoxSize;
          //@include drawBorder(lightgrey);
          text-align: center;
          vertical-align: middle;
          margin: $divMargin;
        }
        //@include generate-rows(3);
        //@include generate-columns(10);
      }

      .controller {
        clear: both;
        //@include drawBorder(blue);
      }
    }
    footer {
      //@include drawBorder(grey);
      display: none; //removes with layout
    }
  }
}

.key:hover {
  background-size: 100%;
}
