- var text = "We are using Node.js {{ controller.env.node.version }} <br/> \n Chrome {{ controller.env.chrome.version }} <br/> \n and Electron {{ controller.env.electron.version }}"
doctype html
html(ng-app="mbERP")
	head
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")/
		meta(charset="UTF-8")
		title mbERP
	body(ng-controller="mbERPController as controller")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js")
		script(type="text/javascript" src="./lib/app.js")

		div !{text}
			div(ng-repeat="unit in controller.env.nodes" ng-show="controller.env.debug")
				h1 {{unit.node}}
