doctype html
html
	head
		meta(charset="UTF-8")
		title Hello World!
	body
		h1 Hello World!
		p.
			We are using node #{document.write(process.version.node)},
			Chrome #{document.write(process.version.chrome)},
			and Electron #{document.write(process.version.electron)}.


