doctype html
html
	head
		title mbERP
	body
		header
			h3 header
		main
			h1 This is the main mbERP window
			article
				| This window should be some kind of control window <br/>
				| Global settings, running and stopping mbERP services,
				| working with dictionaries etc.
		//aside
		//	h3 aside
		//	textarea.
		//		sdfasfasl
		//		asdfasdf sadlfkjasdla
		//		asdflasjdkl
		footer
			h3 footer
