doctype html
html.light
	head
		title Console
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		script window.$ = window.jQuery = window.jquery = require('jquery');
		script(src="js/index.js" type="text/javascript")
		//link(rel="stylesheet" type="text/css" href="css/styles.css" media="all" )
		link(rel="stylesheet" type="text/css" href="../../style/styles.css" media="all" )
	body
		header
		main
			form.settings#settings
				fieldset
					legend look & feel
					.horizontal-flex
						fieldset.inputbox.vertical-flex
							legend appearance & behaviour
							.inputbox.vertical-flex.color-scheme
								label(for="color-scheme") &nbsp color scheme
								select#color-scheme
									option(value="dark") dark
									option(value="light") light
						fieldset
							legend stimulation
							.inputbox.horizontal-flex
								fieldset
									legend stimulus appearance
									br
									.inputbox.vertical-flex.stimuli-appearance
										label(for="color") &nbsp change color
										input#color(type="checkbox")
										label(for="size") &nbsp change size
										input#size(type="checkbox")
										label(for="shine") &nbsp shine
										input#shine(type="checkbox")
									.inputbox.vertical-flex
										label(for="animation") &nbsp animation
										select#animation
											option(value="none") none
											option(value="shake") shake
											option(value="turn") turn
											option(value="capsize") capsize
								fieldset.inputbox.vertical-flex
									legend timings
									.inputbox.vertical-flex.stimuli-timings
										label(for="duration") stimulus duration, ms:
										.horizontal-flex
											input#durationSlider.slider(type="range" min=0 max=500 step=1 value=100)
											| &nbsp;
											input#duration.value
											br
										br
										label(for="pause") pause after stimulus, ms:
										.horizontal-flex
											input#pauseSlider.slider(type="range" min=0 max=500 step=1 value=200)
											| &nbsp;
											input#pause.value
											br
				br
				fieldset#motion.vertical-flex
					legend motion parameters
					.inputbox.horizontal-flex
						.scale
							label speed scale
						.motion
							label random
						.motion
							label reverse
						.easing
							label easing
						.bezier
							label bezier

		footer
			footer
