@import "variables";

@mixin drawBorder($color: black){
  border: 1px solid $color;
}

@mixin generate-columns($n){
  @for $i from 0 through $n - 1 {
    .c#{$i + 1} {
      //left: ($i * ($symbolBoxSize + 2 * $divMargin + 2 * $divBorderWidth + 2 * $divPadding));
      left: -150px;
    }
  }
}

@mixin generate-rows($n){
  @for $i from 0 through $n - 1 {
    .r#{$i + 1} {
      top: ($i * ($symbolBoxSize + 2 * $divMargin + 2 * $divBorderWidth + 2 * $divPadding));
    }
  }
}
