//HTML TAGS
* {
  padding: 0;
  margin: 5px;
  border: 0;
  outline: 0;
}

form {
  //margin-top: 20px;
}

input[type="radio"], input[type="checkbox"], input[type="range"] {
  //margin: 5px;
}

input[type="text"], input[type="number"] {
  //@include centered;
  min-width: 60px;
  //border: 1px solid lightgray;
  text-align: right;
}

textarea {
  font-family: serif;
  //border: solid 1px #787878 !important; //lightgrey
}

label {
  font-size: 10pt;
  color: gray;
  //margin: 5px;
}

hr {
  border-bottom: 1px solid #5e5e5e;
}

.right {
  text-align: right;
}

.label-after-field {
  margin: 0 5px -17px 20px;
}

.color-scheme label {
  //margin: 2px 5px 0;
}

legend {
  font-size: 10pt;
  color: gray;
  text-align: right;
}

button {
  outline-color: #494949 !important;
  font-size: 10pt;
  background-color: lightgrey;
  color: grey;
  vertical-align: middle;
  text-align: center;
  border: 1px solid darkgray;
  //margin: 5px;
}

button:hover {
  background-color: #a6a7a2;
  cursor: pointer;
}

button:active {
  background-color: white;
}

.footer-button {
  height: 35px;
  width: 120px;
  font-size: 12pt;
  color: #616161;
}

fieldset {
  border: 1px solid #5e5e5e;
  //display: grid;
  //grid-template-columns: repeat(4, 1fr);
  //grid-gap: 10px;
  //grid-auto-rows: minmax(100px, auto);
}

//COMMON CLASSES
.value {
  width: 30px;
}

.long-string {
  width: 97%; //todo>> long-string should be aligned by center of parent element
}

.inputbox {
  text-align: left;
  font-size: 10pt;
  color: gray;
}

.centered {
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.right {
  vertical-align: middle;
  text-align: right;
  position: relative;
}

.big {
  font-size: 24px;
  width: 300px;
  height: 30px;
  padding: 10px;
  //margin: 10px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.horizontal-flex-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: 240px 55px 65px 130px 130px;
  justify-items: center;
  align-items: center;
  //align-content: center;
  //justify-content: space-around;
  //grid-template-areas: "header header"
  //                   "nav  main"
  //                   "footer ."
}

.scale {
  width: 235px;
  //margin-bottom: 5px;
  text-align: center;
}

.motion {
  width: 55px;
  //margin-bottom: 5px;
  //text-align: center;
}

.easing {
  width: 130px;
  //margin-bottom: 5px;
  text-align: center;
}

.bezier {
  text-align: center;
  width: 120px;
  //margin-bottom: 5px;
}

form.settings {
  display: flex;
  flex-direction: column;
  min-width: 855px;
  //flex: auto;
  //clear: both;
}
//by ID
