$minHtmlSize: 140mm;
//Boxes, borders & edges
$divBorderWidth: 1px;
$divPadding: 5px;
$divMargin: 5px;

$boxSize: 98%;
$leftBarWidth: 95.2% - $boxSize;
$symbolBoxSize: 140px; //$minBoxSize*0.3;

$minBoxSize: 480px; //100mm;
$maxBoxSize: 150mm;

