* {
  padding: 0;
  margin: 5px;
  border: 0;
  outline: 0; }

form {
  margin-top: 20px; }

input[type="text"], input[type="number"] {
  min-width: 60px;
  text-align: right; }

textarea {
  font-family: serif; }

label {
  font-size: 10pt;
  color: gray; }

.right {
  text-align: right; }

.label-after-field {
  margin: 0 5px -17px 20px; }

legend {
  font-size: 10pt;
  color: gray;
  text-align: right; }

button {
  outline-color: #494949 !important;
  font-size: 10pt;
  background-color: lightgrey;
  color: grey;
  vertical-align: middle;
  text-align: center;
  border: 1px solid darkgray; }

button:hover {
  background-color: #a6a7a2;
  cursor: pointer; }

button:active {
  background-color: white; }

.footer-button {
  height: 35px;
  width: 120px;
  font-size: 12pt;
  color: #616161; }

fieldset {
  border: 1px solid #5e5e5e; }

.value {
  width: 30px; }

.long-string {
  width: 100%; }

.inputbox {
  text-align: left;
  font-size: 10pt;
  color: gray; }

.centered {
  vertical-align: middle;
  text-align: center;
  position: relative; }

.right {
  vertical-align: middle;
  text-align: right;
  position: relative; }

.big {
  font-size: 24px;
  width: 300px;
  height: 30px;
  padding: 10px; }

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.horizontal-flex-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around; }

.grid {
  display: grid;
  grid-template-columns: 240px 55px 65px 130px 130px;
  justify-items: center;
  align-items: center; }

.scale {
  width: 235px;
  text-align: center; }

.motion {
  width: 55px; }

.easing {
  width: 130px;
  text-align: center; }

.bezier {
  text-align: center;
  width: 120px; }

form.settings {
  display: flex;
  flex-direction: column;
  min-width: 850px; }

.light {
  background: repeating-linear-gradient(45deg, #ffffff 0%, #e8e8e8 10%, #e9e9e9 0%, #e6e6e6 50%) 0/15px 15px; }

.dark {
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0/15px 15px; }

.keybox-dark {
  color: #FF1177; }

.keybox-light {
  color: #6d6d6d; }

@keyframes shake {
  from {
    transform: translate(15px, 15px); }
  to {
    transform: translate(-15px, -15px); } }
@keyframes turn {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
.faded-dark-keys {
  color: #3a3a3a !important; }

.faded-light-keys {
  color: #d3d3d3 !important; }

.selected-dark-key {
  color: #fff !important;
  text-shadow: 0 0 15px #fff, 0 0 1em #ff07d3;
  font-size: 19vmin !important; }

.selected-light-key {
  color: #000 !important;
  text-shadow: 0 0 15px #6C6C6C, 0 0 1em #FFF;
  font-size: 19vmin !important; }

.keybox-dark-color {
  color: #FFF; }

.keybox-light-color {
  color: #000; }

.keybox-dark-size {
  background-size: 100%;
  font-size: 17vmin !important; }

.keybox-light-size {
  background-size: 100%;
  font-size: 17vmin !important; }

.keybox-dark-shine {
  text-shadow: 0 0 15px #fff, 0 0 1em #ff07d3; }

.keybox-light-shine {
  text-shadow: 0 0 15px #6C6C6C, 0 0 1em #FFF; }

.keybox-dark-shake {
  animation-name: shake;
  animation-duration: 0.01s;
  animation-iteration-count: infinite; }

.keybox-light-shake {
  animation-name: shake;
  animation-duration: 0.01s;
  animation-iteration-count: infinite; }

.keybox-dark-turn {
  animation-name: turn;
  animation-duration: 0.1s;
  animation-iteration-count: 1; }

.keybox-light-turn {
  animation-name: turn;
  animation-duration: 0.1s;
  animation-iteration-count: 1; }

.keybox-dark-capsize {
  transform: rotate(180deg); }

.keybox-light-capsize {
  transform: rotate(90deg); }

.keybox-bordered {
  border: 1px solid #525252 !important; }

html {
  font-size: calc(10px + 10px * ((100vw - 769px) / 2048)); }

html {
  text-align: left;
  vertical-align: top; }
  html body {
    font: normal 100% sans-serif;
    font-size: calc(10px + 10px * ((100vw - 769px) / 2048)); }
    html body header {
      text-align: center; }
    html body main {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center; }
      html body main article {
        text-align: left;
        min-height: 100%; }
      html body main #monitor {
        text-align: left; }
        html body main #monitor input, html body main #monitor textarea {
          background-color: #a1a1a1;
          color: black;
          border-color: darkgray; }
        html body main #monitor .line {
          text-align: left;
          position: relative;
          font-family: sans-serif;
          font-size: xx-large;
          width: 95%;
          padding: 2px;
          scroll-behavior: auto; }
      html body main #left {
        min-width: 50px;
        float: left;
        display: none; }
      html body main #keyboard {
        position: relative;
        overflow: hidden;
        border: 1px solid #525252; }
        html body main #keyboard .key {
          display: flex;
          position: absolute;
          font: bold 13vmin sans-serif;
          justify-content: center;
          align-items: center;
          cursor: move; }
      html body main footer {
        text-align: center; }

/*# sourceMappingURL=styles.css.map */
