@import "misc";
@import "colorscheme";

//Fonts
$mainFont: sans-serif;
//@media {
//html {
//  font-size: calc(10px + 10px * ((100vw - 769px) / 2048));
//}

//}

html {
  text-align: left;
  vertical-align: top;
  body {
    font: normal 100% $mainFont;
    font-size: calc(10px + 10px * ((100vw - 769px) / 2048));

    header {
      text-align: center;
    }
    main {
      position: relative; //to move keyboard objects inside keyboard box
      overflow: hidden; //if no element with float: clear; available after floating elements
      display: flex;
      flex-direction: column;
      align-items: center;

      article {
        text-align: left;
        min-height: 100%;
      }

      #monitor {
        //display: none;
        text-align: left;
        input, textarea {
          background-color: #a1a1a1;
          color: black;
          border-color: darkgray; //#212121;
        }

        .line {
          text-align: left;
          position: relative;
          font-family: $mainFont;
          font-size: xx-large;
          padding: 2px;
          scroll-behavior: auto;
        }
      }

      #left {
        min-width: 50px;
        float: left;
        display: none;
      }

      #keyboard {
        position: relative;
        overflow: hidden;
        border: 1px solid #525252;
        .keybox {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          cursor: move;
        }

      }
      footer {
        text-align: center;
      }
    }
  }
}
